.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
    text-align: left;
}

.card-body h4 {
   margin-top: 10px;
}

.button-container {
    display: flex;
    margin-top: auto;
}

